 <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-logo-bgcircle">
                <img src="../../assets/images/dashboard-images/school-logo.svg" alt="">
                <h2>Quick Check Front Office</h2>
            </div>
            <div class="modal-body">
                <span>Hi Username</span><br />
                <img src="../../assets/images/dashboard-images/portrait-white-man-isolated_53876-40306.png" alt="">
                <p>This checkbox helps you to work flawlessly.</p>
                <span>Good Day!</span>
                <div class="options">
                    <div class="radio-btn">
                        <input type="radio">
                        Stationery
                    </div>
                    <div class="radio-btn">
                        <input type="radio">
                        Documents
                    </div>
                </div>
                <button class="btn-dashboard">GO TO DASHBOARD</button>
            </div>
        </div>
    </div>
</div>