<div class="container-fluid" onload="openModal()">
    <div class="row">
        <div class="col-2">
            <div class="card nav-card mb-3" style="max-width: 18rem;">
                <div class="header"><span>DEMO SCHOOL</span>
                    <img src="../../assets/images/dashboard-images/portrait-white-man-isolated_53876-40306.png" alt="">
                </div>
                <div class="card-body">
                    <h6>Hello</h6>
                    <p>Username<br />(Job Title)</p>
                    <button type="button" class="btn btn-settings">
                        <i class="bi bi-gear"></i> Settings</button>
                    <button type="button" class="btn btn-profile">
                        <i class="bi bi-person"></i> Profile</button>
                    <button type="button" class="btn btn-help">
                        <i class="bi bi-question-circle"></i> Help</button>
                    <button type="button" class="btn btn-logout">
                        <i class="bi bi-box-arrow-left"></i> Logout</button>
                    <button type="button" class="btn btn-notes">Make Notes</button>
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">+ Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Front Office</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Student Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Fees Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Budget</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Employees Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Curriculum Structure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Homework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Transport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Hostel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Certificate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ School Website Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Reports</a>
                </li>
                <p>Certified by 5thDT.com</p>
            </ul>
        </div>
        <div class="col-10 dashboard-bg">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="logo-bg-circle">
                                <img src="../../assets/images/dashboard-images/school-logo.svg" alt=""
                                    class="school-logo">
                            </div>
                            <h5 class="card-title">DEMO SCHOOL, LOCATION</h5>
                            <span>Select School</span>
                            <input type="text" placeholder="Search..">
                            <button type="button" class="btn btn-save btn-sm">Save</button><br />
                            <a href="#">+ Create New School</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="logo-bg-circle">
                                <img src="../../assets/images/dashboard-images/school-logo.svg" alt=""
                                    class="school-logo">
                            </div>
                            <h5 class="card-title">DEMO SCHOOL, LOCATION</h5>
                            <span>Total Number of Students 22</span>
                            <div class="students-bg">
                                <div class="students-bg-circle">
                                    <img src="../../assets/images/dashboard-images/male img.svg" alt=""
                                        class="male-kid">
                                </div>
                                <h4>10</h4>
                            </div>
                            <div class="students-bg">
                                <div class="students-bg-circle">
                                    <img src="../../assets/images/dashboard-images/female-img.svg" alt=""
                                        class="female-kid">
                                </div>
                                <h4>12</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="reminder">
                                <i class="bi bi-clock"></i> REMINDER
                                <span id="active">Active
                                    <button type="button" class="btn btn-edit">Edit</button>
                                    <button type="button" class="btn btn-delete">Delete</button>
                                    <button type="button" class="btn btn-complete">Complete</button>
                                </span><br />
                                <span id="createreminder">
                                    Create Reminder
                                    <form action="">
                                        <label for="">Date</label>
                                        <input type="date" id="date">
                                        <label for="">Time</label>
                                        <input type="time" id="time"><br/>
                                        <label for="">Description</label>
                                        <input type="text" id="description">
                                        <button type="button" class="btn btn-save btn-sm">Create</button><br />
                                    </form>
                                </span>
                            </div>
                            <!-- <p class="card-text">Active</p>
                            <div class="create-reminder"> -->

                            <!-- <p>Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time</p> -->
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h5 class="card-title">TIME</h5>
                            <p class="card-text">
                            </p> -->
                            <div class="datetime">
                                <div class="time">
                                    <span id="period">PM</span>
                                    <span id="hour">12:</span>
                                    <span id="minutes">00</span>
                                </div>
                                <div class="date">
                                    <span id="month">MONTH
                                        <p>10</p>
                                    </span>
                                    <span id="daynum">DATE
                                        <p>24</p>
                                    </span>
                                    <span id="dayname">DAY
                                        <p>THU</p>
                                    </span><br/>
                                </div>
                                <span id="today">TODAY</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bg">

                    <div class="icons-background" style="border-bottom: 7px solid#F2AA39;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/front-office.svg" alt="">
                        </div>
                        <div class="option">
                            Front Office
                        </div>
                    </div>


                    <div class="icons-background" style="border-bottom: 7px solid#00B3A5;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/students-info.svg" alt="">
                        </div>
                        <div class="option">
                            Student Information
                        </div>
                    </div>

                    <div class="icons-background" style="border-bottom: 7px solid#82B83A;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/fees-management.svg" alt="">
                        </div>
                        <div class="option">
                            Fees Management
                        </div>

                    </div>

                    <div class="icons-background" style="border-bottom: 7px solid#BF272D;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/budget.svg" alt="">
                        </div>
                        <div class="option">
                            Budget
                        </div>

                    </div>

                    <div class="icons-background" style="border-bottom: 7px solid#EC7E3C;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/attendance.svg" alt="">
                        </div>
                        <div class="option">
                            Attendance
                        </div>

                    </div>

                    <div class="icons-background" style="border-bottom: 7px solid#1C8AB9;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/progress-report.svg" alt="">
                        </div>
                        <div class="option">
                            Progress Report
                        </div>

                    </div>

                    <div class="icons-background" style="border-bottom: 7px solid#ED72A0;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/academics.svg" alt="">
                        </div>
                        <div class="option">
                            Academics
                        </div>

                    </div>

                    <div class="icons-background" style="border-bottom: 7px solid#ABB8BF;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/employee-info.svg" alt="">
                        </div>
                        <div class="option">
                            Employee Information
                        </div>

                    </div>

                    <div class="icons-background" style="border-bottom: 7px solid#30BB67;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/announcements.svg" alt="">
                        </div>
                        <div class="option">
                            Announcements
                        </div>

                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col">Front Office</div>
                    <div class="col">Student Information</div>
                    <div class="col">Fees Management</div>
                    <div class="col">Budget</div>
                    <div class="col">Attendance</div>
                    <div class="col">Progress Report</div>
                    <div class="col">Academics</div>
                    <div class="col">Employee Information</div>
                    <div class="col">Announcements</div>
                </div> -->
            </div>
            <div class="row">
                <div class="bg">
                    <div class="icons-background" style="border-bottom: 7px solid#7F4B8A;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/curriculam.svg" alt="">
                        </div>
                        Curriculum Structure
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#B54919;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/homework.svg" alt="">
                        </div>
                        Homework
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#B4955F;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/library.svg" alt="">
                        </div>
                        Library
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#E24D66;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/inventory.svg" alt="">
                        </div>
                        Inventory
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#6AA875;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/transport.svg" alt="">
                        </div>
                        Transport
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#6889BB;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/hostel.svg" alt="">
                        </div>
                        Hostel
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#177E57;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/certificate.svg" alt="">
                        </div>
                        Certificate
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#2ABFC9;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/school-website.svg" alt="">
                        </div>
                        School Website Management
                    </div>
                    <div class="icons-background" style="border-bottom: 7px solid#DF7676;">
                        <div class="icons-bg-circle">
                            <img src="../../assets/images/dashboard-images/reports.svg" alt="">
                        </div>
                        Reports
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="notifications-bar">
                        <div class="notifications-heading">
                            <i class="bi bi-bell"></i> Notifications
                        </div>
                        <div class="notifications-content">
                            Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> -->
    <!-- Launch demo modal -->
  <!-- </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>