<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card nav-card mb-3" style="max-width: 18rem;">
                <div class="header"><span>DEMO SCHOOL</span>
                    <img src="../../assets/images/dashboard-images/portrait-white-man-isolated_53876-40306.png" alt="">
                </div>
                <div class="card-body">
                    <h6>Hello</h6>
                    <p>Username<br />(Job Title)</p>
                    <button type="button" class="btn btn-settings">
                        <i class="bi bi-gear"></i> Settings</button>
                    <button type="button" class="btn btn-profile">
                        <i class="bi bi-person"></i> Profile</button>
                    <button type="button" class="btn btn-help">
                        <i class="bi bi-question-circle"></i> Help</button>
                    <button type="button" class="btn btn-logout">
                        <i class="bi bi-box-arrow-left"></i> Logout</button>
                    <button type="button" class="btn btn-notes">Make Notes</button>
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">+ Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Front Office</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Student Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Fees Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Budget</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Employees Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Curriculum Structure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Homework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Transport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Hostel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Certificate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ School Website Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Reports</a>
                </li>
                <p>Certified by 5thDT.com</p>
            </ul>
        </div>
        <div class="col-10 dashboard-bg">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="../../assets/images/index-page-images/Sanskriti__Logo@2x.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">School Location</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/images/index-page-images/Sanskriti__Logo@2x.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">School Location</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Reminder</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Time</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col">Front Office</div>
                    <div class="col">Student Information</div>
                    <div class="col">Fees Management</div>
                    <div class="col">Budget</div>
                    <div class="col">Attendance</div>
                    <div class="col">Progress Report</div>
                    <div class="col">Academics</div>
                    <div class="col">Employee Information</div>
                    <div class="col">Announcements</div>
                </div>
                <div class="row">
                    <div class="col">Front Office</div>
                    <div class="col">Student Information</div>
                    <div class="col">Fees Management</div>
                    <div class="col">Budget</div>
                    <div class="col">Attendance</div>
                    <div class="col">Progress Report</div>
                    <div class="col">Academics</div>
                    <div class="col">Employee Information</div>
                    <div class="col">Announcements</div>
                </div>
            </div>
            <div class="row">
                Notifications
            </div>
        </div>
    </div>
</div>